[global]

[sample]
ss10_fc2_s1 = /data/mapping/ss10_fc2_s1_mapping
ss10_fc2_s2 = /data/mapping/ss10_fc2_s2_mapping
ss10_fc2_s3 = /data/mapping/ss10_fc2_s3_mapping
ss10_fc2_c1 = /data/mapping/ss10_fc2_c1_mapping
ss10_fc2_c2 = /data/mapping/ss10_fc2_c2_mapping
ss10_fc2_c3 = /data/mapping/ss10_fc2_c3_mapping


[group]


[compare]
group1 = ss10_fc2_s1:ss10_fc2_c1
group2 = ss10_fc2_s2:ss10_fc2_c2
group3 = ss10_fc2_s3:ss10_fc2_c3